.bg-1 {
    background-color: #505554; /* Green */
    color: #ffffff;
  }
.bg-2 {
    background-color: #2c2c2e; /* Green */
    color: #ffffff;
  }
.bg-3 {
    background-color: #ffffff; /* Green */
    color: #242222;
  }
img{
  width: 300px;
  height: 300px;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}